.btn{ 
margin-right: 100px; 
width: 300px; 
height: 60px;

} 
.addContainer{ 
    display: inline-block; 
    margin-left: 500px;

} 
.form-control{ 
   width: 700px;  
  
}  
.btn{ 
margin-left: 200px;
}
.lista{ 
    margin-left: 600px;   
    margin-right: 350px;
  

} 
.Borde{ 
border:5px solid rgb(99, 98, 98);   
}
.images{ 
    margin-left: 200px; 
  
} 
.edit, .trash {
    padding: 5px;
  } 
